<nav class="nav">
<div class="nav-left">
  <h2>&#9776;</h2>
  <div class="sidebar">
    <ul>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>
  </div>
</div>
<div class="nav-center">
  <img src="../assets/logo.png" alt="" />
</div>
<div class="nav-right">
  <h2>Login</h2>
</div>

</nav>
<app-landing></app-landing>
<footer>
  <a href="#">craigslist</a>
  <a href="#">help</a>
  <a href="#">safety</a>
  <a href="#">privacy</a>
  <a href="#">feedback</a>
  <a href="#">cl</a>
  <a href="#">jobs</a>
  <a href="#">terms</a>
  <a href="#">about</a>
  <a href="#">mobile</a>
</footer>
